@import './base.css';

#app > section {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
}
